# Bỏ qua môi trường ảo
venv/
*.pyc                                                                                                                                                                                                       

# Bỏ qua file cấu hình môi trường
.env

# Bỏ qua database SQLite (nếu dùng SQLite)
db.sqlite3
